<app-navbar></app-navbar>

<div class="container">
  <div class="alert alert-dark d-none" id="notifications" role="alert">
    A simple dark alert—check it out!
  </div>
  
  <router-outlet></router-outlet>
</div>