<h1 class="display-4">The CERI Game</h1>
<form [formGroup]="loginForm" (ngSubmit)="OnSubmit(loginForm.value)">
    <div class="form-group my-3">
        <label for="email">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="username" name="username" formControlName="username">
    </div>
    <div class="form-group my-3">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password">
    </div>
    <div class="d-flex flex-row justify-content-end">
        <button type="submit" class="btn btn-primary my-1">Connexion</button>
    </div>

</form>