<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">The CERI Game</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login" *ngIf="!userService.IsLoggedIn()">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/logout" *ngIf="userService.IsLoggedIn()">Logout</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/profil/{{userService.GetUsername()}}" *ngIf="userService.IsLoggedIn()">Profil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/quizz" *ngIf="userService.IsLoggedIn()">Quizz</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/classement" *ngIf="userService.IsLoggedIn()">Classement</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/defis" *ngIf="userService.IsLoggedIn()">Défis</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/top-ten" *ngIf="userService.IsLoggedIn()">Top 10</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>