<div *ngIf="data!=null">
    <h1 class="display-4">Profil</h1>

    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column justify-content-center h-100">
                <img src='{{data.avatar}}' class="img-thumbnail avatar-big" data-bs-toggle="modal" data-bs-target="#avatarModal" *ngIf="data.identifiant == userService.GetUsername()">
                <img src='{{data.avatar}}' class="img-thumbnail avatar-big" *ngIf="data.identifiant != userService.GetUsername()">
            </div>
            <div class="d-flex flex-column justify-content-center mx-4">
                <h2>{{data.identifiant}}</h2>
                <h4>{{data.prenom}} {{data.nom}}</h4>
                <span>{{data.date_naissance | date: 'dd MMMM yyyy'}}</span>
            </div>
        </div>   
        <div class="d-flex flex-column justify-content-between mx-4 flex-wrap">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column justify-content-center mx-2">
                    <img src="../../assets/medal.png" width="32px" height="32px">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span><strong>x{{data.count}}</strong></span>
                </div>
            </div>
            <div class="dot-green-big mx-auto" *ngIf="data.statut_connexion == 1"></div>
            <div class="dot-red-big mx-auto" *ngIf="data.statut_connexion == 0"></div>
            <div class="d-flex flex-column justify-content-center mx-2 invisible">
                <img src="../../assets/medal.png" width="32px" height="32px">
            </div>
        </div>
    </div>
    <div class="w-100 text-center">
        <i class="fs-2" data-bs-toggle="modal" data-bs-target="#moodModal" *ngIf="data.identifiant == userService.GetUsername()">{{data.humeur}}</i>
        <i class="fs-2" *ngIf="data.identifiant != userService.GetUsername()">{{data.humeur}}</i>
    </div>

    <h1 class="display-5 my-3">Défis terminés</h1>
    <ul class="list-group">
        <li class="list-group-item d-flex flex-row justify-content-between" *ngFor="let current of challenges" routerLink="/profil/{{data.id != current.id_user_gagnant ? userMap[current.id_user_gagnant].identifiant : userMap[current.id_user_perdant].identifiant}}">
            <div class="d-flex flex-row">
                <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="userMap[current.id_user_gagnant].avatar" *ngIf="data.id != current.id_user_gagnant">
                <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="userMap[current.id_user_perdant].avatar" *ngIf="data.id != current.id_user_perdant">
                <div class="d-flex flex-column justify-content-center ml-3">
                    <span *ngIf="data.id != current.id_user_gagnant"><strong>{{userMap[current.id_user_gagnant].identifiant}}</strong></span>
                    <span *ngIf="data.id != current.id_user_perdant"><strong>{{userMap[current.id_user_perdant].identifiant}}</strong></span>
                    <span>{{current.date_defi | date: 'dd MMMM yyyy'}} à {{current.date_defi | date: 'HH:mm'}}</span>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <img class="mx-1 avatar" src="../../assets/check.png" *ngIf="data.id == current.id_user_gagnant">
                <img class="mx-1 avatar" src="../../assets/close.png" *ngIf="data.id != current.id_user_gagnant">
            </div>
        </li>
      </ul>

    <h1 class="display-5 my-3">Historique</h1>
    <div id="accordion" class="accordion">
        <div class="accordion-item" *ngFor="let record of history; index as i">
            <h2 class="accordion-header" [attr.id]="'heading' + i">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i">
                    <div class="d-flex flew-row justify-content-between w-100">
                        <span>{{record.date_jeu | date: 'EEEE dd MMMM yyyy'}} à {{record.date_jeu | date: 'HH:mm'}}</span>
                        <span>{{record.score}} points</span>
                    </div>
                </button>
            </h2>
            <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'#heading' + i" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <span class="d-flex flex-row justify-content-between w-100">
                        <span>Difficulté: {{record.niveau_jeu == 3 ? "Difficile" : record.niveau_jeu == 2 ? "Moyen" : "Facile"}}</span>
                        <span>Temps: {{record.temps}} secondes</span>
                        <span>{{record.nb_reponses_corr}}/10</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    Avatar change modal
-->
<div class="modal fade" id="avatarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="avatarModalLabel">Changer d'avatar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="avatar-url-input" class="form-label">URL</label>
            <input type="text" class="form-control" id="avatar-url-input" placeholder="" [formControl]="avatar">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="ChangeAvatar()">Valider</button>
        </div>
      </div>
    </div>
</div>

<!--
    Mood change modal
-->
<div class="modal fade" id="moodModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="moodModalLabel">Changer d'humeur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="avatar-url-input" class="form-label">Humeur</label>
            <input type="text" class="form-control" id="avatar-url-input" placeholder="" [formControl]="mood">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="ChangeMood()">Valider</button>
        </div>
      </div>
    </div>
</div>