.dot-green
  height: 8px
  width: 8px
  border-radius: 50%
  background-color: green

.dot-green-big
  height: 32px
  width: 32px
  border-radius: 50%
  background-color: green

.dot-red
  height: 8px
  width: 8px
  border-radius: 50%
  background-color: red

.dot-red-big
  height: 32px
  width: 32px
  border-radius: 50%
  background-color: red

.avatar
  height: 128px
  width: 128px
  object-fit: cover

.avatar-big
  height: 256px
  width: 256px
  object-fit: cover

@media screen and ( max-width: 490px )
  .avatar
    height: 64px
    width: 64px

  .avatar-big
    height: 128px
    width: 128px
  