<h1 class="display-4">Top Ten</h1>
<br>
<div class="list-group" id="list-tab" role="tablist">
    <div class="list-group-item list-group-item-action d-flex flex-row justify-content-between" *ngFor="let current of top">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column justify-content-center mx-1">
                <span [class.dot-green]="current.statut_connexion == 1" [class.dot-red]="current.statut_connexion == 0"></span>
            </div>

            <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="current.avatar">
            <div class="d-flex flex-column justify-content-center mx-1">
                <span><strong>{{current.identifiant}}</strong></span>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column justify-content-center mx-2">
                <img src="../../assets/medal.png" width="64px" height="64px">
            </div>
            <div class="d-flex flex-column justify-content-center mx-2">
                <span><strong>x{{current.count}}</strong></span>
            </div>
        </div>
    </div>
</div>