<h1 class="display-4">Classement</h1>

<div class="list-group" id="list-tab" role="tablist">
    <div class="list-group-item list-group-item-action d-flex flex-row justify-content-between" *ngFor="let current of ranking" routerLink="/profil/{{current.identifiant}}">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column justify-content-center mx-1">
                <span [class.dot-green]="current.statut_connexion == 1" [class.dot-red]="current.statut_connexion == 0"></span>
            </div>

            <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="current.avatar">
            <div class="d-flex flex-column justify-content-center mx-1">
                <span><strong>{{current.identifiant}}</strong></span>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <span><strong>{{current.total}}</strong></span>
        </div>
    </div>
</div>