<h1 class="display-4">Défis</h1>
<br>

<ul class="list-group" *ngIf="state == 'NORMAL'">
    <li class="list-group-item" *ngFor="let current of challenges; index as i">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-center">
                        <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="avatarMap[current.sender]">
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <span><strong>{{current.sender}}</strong></span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h1 class="mx-4">VS</h1>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-center">
                        <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="avatarMap[current.receiver]">
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <span><strong>{{current.receiver}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <span *ngIf="current.sender == user.GetUsername()">En attente...</span>
                <div *ngIf="current.sender != user.GetUsername()" class="btn-group">
                    <button type="button" class="btn btn-success" (click)="AcceptChallenge(current)">Accepter</button>
                    <button type="button" class="btn btn-danger" (click)="RemoveChallenge(current)">Refuser</button>
                </div>
            </div>
        </div>
    </li>
</ul>

<div *ngIf="challenges.length == 0" class="w-100 text-center">
    <span>Vous n'avez aucun défi en attente.</span>
</div>

<app-quizz [multiplayer]="true" [challenge]="selectedChallenge" *ngIf="state == 'QUIZZ'"></app-quizz>