<h1 class="display-4" *ngIf="!multiplayer">Quizz</h1>
<br>

<div class="spinner-border text-primary" role="status" *ngIf="state == 'LOADING'">
    <span class="sr-only">Récupération des quizz</span>
</div>

<div *ngIf="state == 'LIST'">
    <h2 class="display-5">Sélectionnez un quizz</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let quizz of quizzlist" (click)="OnQuizzSelection(quizz.theme)">
            <span>{{quizz.theme}}</span>
        </li>
    </ul>
</div>

<div *ngIf="state == 'DIFFICULTY'">
    <h2 class="display-5">Sélectionnez une difficulté</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" (click)="OnDifficultySelection('EASY')">
            <span>Facile</span>
        </li>
        <li class="list-group-item list-group-item-action" (click)="OnDifficultySelection('MEDIUM')">
            <span>Moyen</span>
        </li>
        <li class="list-group-item list-group-item-action" (click)="OnDifficultySelection('HARD')">
            <span>Difficile</span>
        </li>
    </ul>
</div>

<div *ngIf="state == 'QUIZZ'" class="container col">
    <h1>Temps restant: {{timer}}</h1>
    <h2>{{questionlist[current].question}}</h2>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let proposition of propositions" (click)="NextQuestion(proposition)">
            {{proposition}}
        </li>
    </ul>
</div>

<div *ngIf="state == 'END'">
    <h3>Quizz terminé</h3>
    <br>
    <div class="d-flex flex-row justify-content-between flex-wrap" *ngIf="!multiplayer">
        <h3>Score: {{score}}</h3>
        <h3>Performance: {{correctCount}}/10</h3>
        <h3>Temps: {{duration}}s</h3>
        <button type="button" class="btn btn-primary" (click)="Challenge()">Défier un joueur</button>
        <button type="button" class="btn btn-primary" (click)="Replay()">Rejouer</button>
    </div>
    <ul class="list-group" *ngIf="multiplayer">
        <li class="list-group-item d-flex flex-row justify-content-between">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-center">
                        <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="otherAvatar">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <span><strong>{{challenge.sender}}</strong></span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center mx-2">
                    <span><strong>{{challenge.score}} points</strong></span>
                </div>
                <div class="d-flex flex-column justify-content-center mx-2" *ngIf="score <= challenge.score">
                    <img src="../../assets/medal.png" width="64px" height="64px">
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column justify-content-center mx-2" *ngIf="score >= challenge.score">
                    <img src="../../assets/medal.png" width="64px" height="64px">
                </div>
                <div class="d-flex flex-column justify-content-center mx-2">
                    <span><strong>{{score}} points</strong></span>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-center">
                        <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="avatar">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <span><strong>{{userService.GetUsername()}}</strong></span>
                    </div>
                </div>
            </div>
        </li>
      </ul>
</div>

<div *ngIf="state == 'CHALLENGE'">
    <h3>Défi d'un joueur</h3>
    <br>
    <div class="list-group" id="list-tab" role="tablist">
        <div *ngFor="let current of ranking">
            <div class="list-group-item list-group-item-action d-flex flex-row justify-content-between" *ngIf="current.identifiant != userService.GetUsername()" (click)="ChallengeUser(current.identifiant)">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column justify-content-center mx-1">
                        <span [class.dot-green]="current.statut_connexion == 1" [class.dot-red]="current.statut_connexion == 0"></span>
                    </div>
        
                    <img class="rounded img-thumbnail mx-1 avatar" [attr.src]="current.avatar">
                    <div class="d-flex flex-column justify-content-center mx-1">
                        <span><strong>{{current.identifiant}}</strong></span>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span><strong>{{current.total}}</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>